@{
    ViewBag.Title = "About";
}

<div id="content">
    <!-- CONTAINER -->
    <div class="container">

        <div class="row">
            <!-- MAIN BLOG CONTENT -->
            <div class="col-md-9 col-sm-9 main-content">

                <!-- POST TEXT -->
                <div class="row post-container">
                    <div class="col-md-1 col-sm-1">
                        <!-- POST INFO -->
                        <div class="post-info">
                            <div class=" post-info-icon"><i class="icon-book"></i></div>
                            <div class="post-info-date">JUL<span class="post-info-day">31</span>2013</div>
                            <div class="post-info-comments"><a href="blog-post.html#comments"><i class="icon-comment-alt"></i>&nbsp;23</a></div>
                        </div>
                        <!-- POST INFO END -->
                    </div>

                    <!-- POST CONTENT -->
                    <div class="col-md-11 col-sm-11 post-content">
                        <div class="post-media-wrap"><a href="blog-post.html"><img src="img/blog-img-1.png" alt=""></a></div>
                        <h4><a href="blog-post.html">In porta enim non dolor posuere ut rhoncus leo tincidunt. Cras egeta tincidunt volutpat leo.</a></h4>
                        <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum dolor. Cras tincidunt volutpat leo, at tristique mi mollis eget. Phasellus adipiscing laoreet bibendum. Fusce fermentum blandit diam nec mattis [...] </p>

                        <!--  POST META INFO -->
                        <div class="post-meta-info clearfix">
                            <div class="post-meta-postedby">
                                <i class="icon-bookmark-empty"></i>&nbsp;Posted by <a href="#">Adrian</a> in <a href="#">Webdesign</a> / <a href="#">Branding</a> / <a href="#">Gravida</a>
                            </div>

                            <div class="post-meta-readmore">
                                <a href="blog-post.html">Read more</a>
                            </div>
                        </div>
                        <!--  POST META INFO END -->

                    </div>
                    <!-- POST CONTENT END -->
                </div>
                <!-- POST TEXT END -->
                <!-- POST VIDEO -->
                <div class="row post-container">
                    <div class="col-md-1 col-sm-1">
                        <!-- POST INFO -->
                        <div class="post-info">
                            <div class=" post-info-icon"><i class="icon-film"></i></div>
                            <div class="post-info-date">JUL<span class="post-info-day">31</span>2013</div>
                            <div class="post-info-comments"><a href="blog-post.html#comments"><i class="icon-comment-alt"></i>&nbsp;23</a></div>
                        </div>
                        <!-- POST INFO END -->
                    </div>

                    <!-- POST CONTENT -->
                    <div class="col-md-11 col-sm-11 post-content">
                        <div class="post-media-wrap">
                            <div class="fit-vid"><iframe width="620" height="349" src="http://www.youtube.com/embed/O7tzcWh7F1M?wmode=opaque" frameborder="0"></iframe></div>
                        </div>
                        <h4><a href="blog-post.html">Etiam feugiat justo id mi mattis pretium. Sed vestibulum mollis mollis.</a></h4>

                        <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum dolor. Cras tincidunt volutpat leo, at tristique mi mollis eget. Phasellus adipiscing laoreet bibendum. Fusce fermentum blandit diam nec mattis [...]</p>

                        <!--  POST META INFO -->
                        <div class="post-meta-info clearfix">
                            <div class="post-meta-postedby">
                                <i class="icon-bookmark-empty"></i>&nbsp;Posted by <a href="#">Adrian</a> in <a href="#">Video</a> / <a href="#">Gravida</a>
                            </div>

                            <div class="post-meta-readmore">
                                <a href="blog-post.html">Read more</a>
                            </div>
                        </div>
                        <!--  POST META INFO END -->

                    </div>
                    <!-- POST CONTENT END -->
                </div>
                <!-- POST VIDEO END -->
                <!-- POST TEXT -->
                <div class="row post-container">
                    <div class="col-md-1 col-sm-1">
                        <!-- POST INFO -->
                        <div class="post-info">
                            <div class=" post-info-icon"><i class="icon-book"></i></div>
                            <div class="post-info-date">JUL<span class="post-info-day">31</span>2013</div>
                            <div class="post-info-comments"><a href="blog-post.html#comments"><i class="icon-comment-alt"></i>&nbsp;23</a></div>
                        </div>
                        <!-- POST INFO END -->
                    </div>

                    <!-- POST CONTENT -->
                    <div class="col-md-11 col-sm-11 post-content">
                        <h4><a href="blog-post.html">In porta enim non dolor posuere ut rhoncus leo tincidunt. Cras egeta tincidunt volutpat leo.</a></h4>
                        <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum dolor. Cras tincidunt volutpat leo, at tristique mi mollis eget. Phasellus adipiscing laoreet bibendum. Fusce fermentum blandit diam nec mattis [...] </p>

                        <!--  POST META INFO -->
                        <div class="post-meta-info clearfix">
                            <div class="post-meta-postedby">
                                <i class="icon-bookmark-empty"></i>&nbsp;Posted by <a href="#">Adrian</a> in <a href="#">Webdesign</a> / <a href="#">Branding</a> / <a href="#">Gravida</a>
                            </div>

                            <div class="post-meta-readmore">
                                <a href="blog-post.html">Read more</a>
                            </div>
                        </div>
                        <!--  POST META INFO END -->

                    </div>
                    <!-- POST CONTENT END -->
                </div>
                <!-- POST TEXT END -->
                <!-- POST SLIDESHOW -->
                <div class="row post-container">
                    <div class="col-md-1 col-sm-1">
                        <!-- POST INFO -->
                        <div class="post-info">
                            <div class=" post-info-icon"><i class="icon-picture"></i></div>
                            <div class="post-info-date">JUL<span class="post-info-day">31</span>2013</div>
                            <div class="post-info-comments"><a href="blog-post.html#comments"><i class="icon-comment-alt"></i>&nbsp;23</a></div>
                        </div>
                        <!-- POST INFO END -->
                    </div>

                    <!-- POST CONTENT -->
                    <div class="col-md-11 col-sm-11 post-content">
                        <div class="post-media-wrap">

                            <div id="post-slideshow-carousel" class="slideshow carousel slide">
                                <div class="carousel-inner">
                                    <div class="active item">
                                        <a href="blog-post.html"><img src="img/blog-img-1.png" alt=""></a>
                                    </div>

                                    <div class="item">
                                        <a href="blog-post.html"><img src="img/blog-img-2.png" alt=""></a>
                                    </div>

                                </div>
                                <div class="c-buttons"><a href="#post-slideshow-carousel" data-slide="prev"><i class="icon-chevron-left"></i></a>&#32;<a href="#post-slideshow-carousel" data-slide="next"><i class="icon-chevron-right"></i></a></div>
                            </div>

                        </div>
                        <h4><a href="blog-post.html">In porta enim non dolor posuere ut rhoncus leo tincidunt. Cras egeta tincidunt volutpat leo.</a></h4>
                        <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum dolor. Cras tincidunt volutpat leo, at tristique mi mollis eget. Phasellus adipiscing laoreet bibendum. Fusce fermentum blandit diam nec mattis [...] </p>

                        <!--  POST META INFO -->
                        <div class="post-meta-info clearfix">
                            <div class="post-meta-postedby">
                                <i class="icon-bookmark-empty"></i>&nbsp;Posted by <a href="#">Adrian</a> in <a href="#">Webdesign</a> / <a href="#">Branding</a> / <a href="#">Gravida</a>
                            </div>

                            <div class="post-meta-readmore">
                                <a href="blog-post.html">Read more</a>
                            </div>
                        </div>
                        <!--  POST META INFO END -->

                    </div>
                    <!-- POST CONTENT END -->
                </div>
                <!-- POST SLIDESHOW END -->
                <!-- POST AUDIO -->
                <div class="row post-container">
                    <div class="col-md-1 col-sm-1">
                        <!-- POST INFO -->
                        <div class="post-info">
                            <div class=" post-info-icon"><i class="icon-music"></i></div>
                            <div class="post-info-date">JUL<span class="post-info-day">31</span>2013</div>
                            <div class="post-info-comments"><a href="blog-post.html#comments"><i class="icon-comment-alt"></i>&nbsp;23</a></div>
                        </div>
                        <!-- POST INFO END -->
                    </div>

                    <!-- POST CONTENT -->
                    <div class="col-md-11 col-sm-11 post-content">
                        <div class="post-media-wrap">

                            <script type="text/javascript">
                                $(document).ready(function () {

                                    $("#jquery_jplayer_1").jPlayer({
                                        ready: function (event) {
                                            $(this).jPlayer("setMedia", {
                                                mp3: "http://jplayer.org/audio/mp3/TSP-01-Cro_magnon_man.mp3",
                                                oga: "http://jplayer.org/audio/ogg/TSP-01-Cro_magnon_man.ogg"
                                            });
                                        },
                                        swfPath: "http://jplayer.org/latest/js",
                                        supplied: "mp3, oga"
                                    });
                                });
                            </script>

                            <!-- JPLAYER -->
                            <div id="jquery_jplayer_1"></div>

                            <div class="jp-interface">
                                <div class="jp-controls-holder">
                                    <div id="jp_container_1">
                                        <a href="javascript:;" class="jp-play" tabindex="1"><i class="icon-play"></i></a>
                                        <a href="javascript:;" class="jp-pause" tabindex="1"><i class="icon-pause"></i></a>
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar">
                                                <div class="jp-play-bar"><span></span></div>
                                            </div>
                                        </div>
                                        <div class="jp-current-time"></div>
                                        <span class="time-sep">/</span>
                                        <div class="jp-duration"></div>
                                        <a href="javascript:;" class="jp-mute" tabindex="2" title="mute"><i class="icon-volume-up"></i></a>
                                        <a href="javascript:;" class="jp-unmute" tabindex="2" title="unmute"><i class="icon-volume-off"></i></a>
                                        <!--volume bar-->
                                        <div class="jp-volume-bar hidden-xs">
                                            <div class="jp-volume-bar-value"><span class="handle"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <!-- JPLAYER END -->

                        </div>
                        <h4><a href="blog-post.html">In porta enim non dolor posuere ut rhoncus leo tincidunt. Cras egeta tincidunt volutpat leo.</a></h4>
                        <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum dolor. Cras tincidunt volutpat leo, at tristique mi mollis eget. Phasellus adipiscing laoreet bibendum. Fusce fermentum blandit diam nec mattis [...] </p>

                        <!--  POST META INFO -->
                        <div class="post-meta-info clearfix">
                            <div class="post-meta-postedby">
                                <i class="icon-bookmark-empty"></i>&nbsp;Posted by <a href="#">Adrian</a> in <a href="#">Webdesign</a> / <a href="#">Branding</a> / <a href="#">Gravida</a>
                            </div>

                            <div class="post-meta-readmore">
                                <a href="blog-post.html">Read more</a>
                            </div>
                        </div>
                        <!--  POST META INFO END -->

                    </div>
                    <!-- POST CONTENT END -->
                </div>
                <!-- POST AUDIO END -->
                <!-- POST QUOTE -->
                <div class="row post-container">
                    <div class="col-md-1 col-sm-1">
                        <!-- POST INFO -->
                        <div class="post-info">
                            <div class=" post-info-icon"><i class="icon-quote-left"></i></div>
                            <div class="post-info-date">JUL<span class="post-info-day">31</span>2013</div>
                            <div class="post-info-comments"><a href="blog-post.html#comments"><i class="icon-comment-alt"></i>&nbsp;23</a></div>
                        </div>
                        <!-- POST INFO END -->
                    </div>

                    <!-- POST CONTENT -->
                    <div class="col-md-11 col-sm-11 post-content format-quote">
                        <div class="post-media-wrap">
                            <div class="icon"><i class="icon-quote-right"></i></div>
                            <blockquote>
                                <p>Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum dolor.</p>
                                <small>Adrian Lampart, Leopard</small>
                            </blockquote>

                        </div>
                        <!--  POST META INFO -->
                        <div class="post-meta-info clearfix">
                            <div class="post-meta-postedby">
                                <i class="icon-bookmark-empty"></i>&nbsp;Posted by <a href="#">Adrian</a> in <a href="#">Webdesign</a> / <a href="#">Branding</a> / <a href="#">Gravida</a>
                            </div>

                        </div>
                        <!--  POST META INFO END -->

                    </div>
                    <!-- POST CONTENT END -->
                </div>
                <!-- POST QUOTE END -->
                <!-- POST LINK -->
                <div class="row post-container">
                    <div class="col-md-1 col-sm-1">
                        <!-- POST INFO -->
                        <div class="post-info">
                            <div class=" post-info-icon"><i class="icon-link"></i></div>
                            <div class="post-info-date">JUL<span class="post-info-day">31</span>2013</div>
                            <div class="post-info-comments"><a href="blog-post.html#comments"><i class="icon-comment-alt"></i>&nbsp;23</a></div>
                        </div>
                        <!-- POST INFO END -->
                    </div>

                    <!-- POST CONTENT -->
                    <div class="col-md-11 col-sm-11 post-content format-link">
                        <div class="post-media-wrap">
                            <div class="icon"><i class="icon-link"></i></div>
                            <h4><a href="#">Nullam ultrices, eros accumsan vulputate faucibus <i class="icon-mail-forward"></i></a></h4>
                            <span class="link"><a href="http://google.com/">http://google.com</a></span>
                        </div>
                        <!--  POST META INFO -->
                        <div class="post-meta-info clearfix">
                            <div class="post-meta-postedby">
                                <i class="icon-bookmark-empty"></i>&nbsp;Posted by <a href="#">Adrian</a> in <a href="#">Webdesign</a> / <a href="#">Branding</a> / <a href="#">Gravida</a>
                            </div>

                        </div>
                        <!--  POST META INFO END -->

                    </div>
                    <!-- POST CONTENT END -->
                </div>
                <!-- POST LINK END -->

            </div>
            <!-- MAIN BLOG CONTENT END -->
            <!-- SIDEBAR -->
            <div class="col-md-3 col-sm-3 sidebar">

                <!-- SEARCH -->
                <div class="widget widget-search">
                    <form class="search" method="get">
                        <fieldset>
                            <div class="input-group">
                                <input name="s" id="s" type="text" value="" placeholder="Search ...">
                                <span class="input-group-addon"><i class="icon-search"></i></span>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- SEARCH END -->
                <!-- POSTS -->
                <div class="widget widget-posts">

                    <ul class="nav nav-tabs" id="widget-post-tab">
                        <li class="active"><a href="#recent" data-toggle="tab"><span class="hidden-sm">Recent</span><i class="icon-book visible-sm"></i></a></li>
                        <li><a href="#popular" data-toggle="tab"><span class="hidden-sm">Popular</span><i class="icon-star visible-sm"></i></a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="recent">
                            <div class="widget widget-categories">

                                <ul>
                                    <li><a href="#">Webdesign (12)</a></li>
                                    <li><a href="#">Branding (4)</a></li>
                                    <li><a href="#">Video (5)</a></li>
                                    <li><a href="#">Text (1)</a></li>
                                    <li><a href="#">Quote (5)</a></li>
                                    <li><a href="#">Gallery (10)</a></li>
                                    <li><a href="#">Link (2)</a></li>
                                    <li><a href="#">Gravida (20)</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="tab-pane" id="popular">
                            <div class="widget widget-categories">

                                <ul>
                                    <li><a href="#">Webdesign (12)</a></li>
                                    <li><a href="#">Branding (4)</a></li>
                                    <li><a href="#">Video (5)</a></li>
                                    <li><a href="#">Text (1)</a></li>
                                    <li><a href="#">Quote (5)</a></li>
                                    <li><a href="#">Gallery (10)</a></li>
                                    <li><a href="#">Link (2)</a></li>
                                    <li><a href="#">Gravida (20)</a></li>
                                </ul>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- POSTS END -->


            </div>
            <!-- SIDEBAR END -->

        </div>

    </div> <!-- CONTAINER END -->
</div> <!-- CONTENT END -->
