@{
    ViewBag.Title = "Contact";
}
<div id="content">
    <!-- CONTAINER -->
    <div class="container">

        <div class="row">
            <!-- MAIN BLOG CONTENT -->
            <div class="col-md-9 col-sm-9 main-content">

                <!-- POST TEXT -->
                <div class="row">
                    <div class="col-md-1 col-sm-1">
                        <!-- POST INFO -->
                        <div class="post-info">
                            <div class=" post-info-icon"><i class="icon-book"></i></div>
                            <div class="post-info-date">JUL<span class="post-info-day">31</span>2013</div>
                            <div class="post-info-comments"><a href="blog-post.html#comments"><i class="icon-comment-alt"></i>&nbsp;23</a></div>
                        </div>
                        <!-- POST INFO END -->
                    </div>

                    <!-- POST CONTENT -->
                    <div class="col-md-11 col-sm-11 post-content">
                        <div class="post-media-wrap"><a href="blog-post.html"><img src="img/blog-img-1.png" alt=""></a></div>
                        <p>
                            Donec convallis, metus nec tempus aliquet, nunc metus adipiscing leo, a lobortis nisi dui ut odio. Nullam ultrices, eros accumsan vulputate faucibus, turpis tortor dictum dolor. Cras tincidunt volutpat leo, at tristique mi mollis eget. Phasellus adipiscing laoreet bibendum. Fusce fermentum blandit diam nec mattis [...]<br /><br />Donec varius felis vel viverra pellentesque. Donec sagittis tincidunt vulputate. Pellentesque metus arcu, luctus ut accumsan vitae, mattis at ligula. Etiam tempor commodo sapien et molestie. Aliquam nec bibendum nulla. Suspendisse placerat libero felis, quis elementum est pulvinar sed. Fusce tristique nisl vel massa euismod placerat. Curabitur laoreet metus sapien, quis faucibus eros suscipit eget. Sed venenatis eros augue, ac dapibus metus dictum at. Curabitur eu fringilla est, quis dignissim mi. Nunc a nulla quis erat blandit volutpat. Curabitur a velit vel nulla auctor faucibus. Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla interdum dolor sed elit accumsan, ac interdum ipsum venenatis.<br /><br />
                            Curabitur est mauris, imperdiet ac neque a, pulvinar vulputate nulla. Morbi vestibulum sollicitudin justo ac pretium. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer nisl eros, blandit at lobortis eu, vulputate tristique velit. Nunc venenatis ac eros non mattis. Suspendisse posuere id mi in volutpat. Suspendisse posuere lorem odio, eu adipiscing urna dignissim in.<br /><br />
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vehicula diam nec mauris eleifend, sed rhoncus massa tincidunt. Quisque imperdiet elit quis mauris ultricies ultrices. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi nunc elit, tincidunt aliquet commodo a, facilisis vel ligula. Fusce aliquam aliquam dolor nec fermentum. Fusce quis nunc sed orci mollis adipiscing. Pellentesque vel condimentum justo, eu auctor mauris. Nunc eget eros sed risus dictum volutpat.<br /><br /><blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt pellentesque nulla, vel ullamcorper est. Morbi lacinia gravida nisl. Suspendisse potenti.</p><small>Adrian Lampart, Leopard</small></blockquote>Nam quis libero ligula. Fusce in nisl aliquet, fermentum nisl imperdiet, iaculis sapien. In dui turpis, consequat sed pretium sit amet, pharetra vitae nulla. Pellentesque a nibh ante. Nulla eleifend, mauris pulvinar viverra consequat, erat odio fermentum arcu, ac lobortis lacus nulla id mauris. Praesent vel iaculis leo, quis dictum enim. Nulla imperdiet magna eget ante aliquam rutrum vitae ac odio. Duis nulla arcu, pharetra faucibus cursus placerat, consequat quis lorem. Curabitur nec lacus sit amet enim luctus ultrices. Etiam faucibus convallis ipsum, non sollicitudin felis. Integer sed venenatis velit.</p>

                        <!--  POST META INFO -->
                        <div class="post-meta-info clearfix">
                            <div class="post-meta-postedby">
                                <i class="icon-bookmark-empty"></i>&nbsp;Posted by <a href="#">Adrian</a> in <a href="#">Webdesign</a> / <a href="#">Branding</a> / <a href="#">Gravida</a>
                            </div>

                        </div>
                        <!--  POST META INFO END -->
                        <!-- SOCIAL SHARE -->
                        <div class="social-share">
                            <span class="share">Share with friends:</span>
                            <ul class="socialcount" data-url="http://www.google.com/" data-share-text="Google is a search engine">
                                <li class="facebook"><a href="https://www.facebook.com/sharer/sharer.php?u=http://www.google.com/" title="Share on Facebook"><i class="icon-facebook"></i><span class="count">Like</span></a></li>
                                <li class="twitter"><a href="https://twitter.com/intent/tweet?text=http://www.google.com/" title="Share on Twitter"><i class="icon-twitter"></i><span class="count">Tweet</span></a></li>
                                <li class="googleplus"><a href="https://plus.google.com/share?url=http://www.google.com/" title="Share on Google Plus"><i class="icon-google-plus"></i><span class="count">+1</span></a></li>
                            </ul>
                        </div>
                        <!-- SOCIAL SHARE END -->

                    </div>
                    <!-- POST CONTENT END -->
                </div>


                <div class="row margin-bot">

                    <!-- COMMENTS -->
                    <div id="comments" class="col-md-12 col-sm-12">
                        <div class="title"><h5>Comments:&nbsp;<span class="comments-count">3</span></h5></div>

                        <div class="comments-container">
                            <ol class="commentlist">

                                <li class="comment">
                                    <div class="comment-container">
                                        <div class="avatar"><img src="img/avatar.png" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-author">Adrian &middot; July 31, 2013 at 15:15 &middot; <a class="comment-reply-link" href="#">Reply</a> </div>
                                            <div class="comment-text"><p>Ibero vitae, convallis pellentesque libero. Maecenas non nunc semper, bibendum enim tempus, sollicitudin nibh. Pellentesque arcu orci, scelerisque non turpis dignissim, sollicitudin vehicula felis. Morbi gravida sollicitudin eros, molestie sodales nisi bibendum a. Phasellus eu semper ipsum. </p></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment">
                                    <div class="comment-container">
                                        <div class="avatar"><img src="img/avatar.png" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-author">Adrian &middot; July 31, 2013 at 15:15 &middot; <a class="comment-reply-link" href="#">Reply</a> </div>
                                            <div class="comment-text"><p> Aliquam augue sapien, consectetur quis libero vitae, convallis pellentesque libero. Maecenas non nunc semper, bibendum enim tempus, sollicitudin nibh. Pellentesque arcu orci, scelerisque non.</p></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="comment">
                                    <div class="comment-container">
                                        <div class="avatar"><img src="img/avatar.png" alt=""></div>
                                        <div class="comment-box">
                                            <div class="comment-author">Adrian &middot; July 31, 2013 at 15:15 &middot; <a class="comment-reply-link" href="#">Reply</a> </div>
                                            <div class="comment-text"><p>Donec sagittis tincidunt vulputate. Pellentesque metus arcu, luctus ut accumsan vitae, mattis at ligula. Etiam tempor commodo sapien et molestie. Aliquam nec bibendum nulla. Suspendisse placerat libero felis, quis elementum est pulvinar sed. Fusce tristique nisl vel massa euismod placerat.</p></div>
                                        </div>
                                    </div>
                                </li>
                            </ol>

                            <div id="respond" class="leave-comment">
                                <div class="title"><h5>Leave a comment:</h5></div>

                                <div class="respond-form">
                                    <form action="#" method="post">
                                        <div id="comment-input">
                                            <div class="input-group">
                                                <input type="text" name="author" id="author" value="" placeholder="Name (required)" size="22" tabindex="1" aria-required="true" class="input-name"><span class="input-group-addon"><i class="icon-user"></i></span>
                                            </div>
                                            <div class="input-group">
                                                <input type="text" name="email" id="email" value="" placeholder="Email (required)" size="22" tabindex="2" aria-required="true" class="input-email"><span class="input-group-addon"><i class="icon-envelope-alt"></i></span>
                                            </div>
                                            <div class="input-group"><input type="text" name="url" id="url" value="" placeholder="Website" size="22" tabindex="3" class="input-website"><span class="input-group-addon"><i class="icon-link"></i></span></div>
                                        </div>
                                        <div id="comment-textarea">
                                            <textarea name="comment" id="comment" cols="39" rows="4" tabindex="4" class="textarea-comment" placeholder="Comment..."></textarea>
                                        </div>
                                        <div id="comment-submit">
                                            <p></p>
                                            <div>
                                                <input name="submit" type="submit" id="submit" tabindex="5" value="Post Comment" class="comment-submit btn-submit btn">
                                            </div><p></p>
                                            <input type="hidden" name="comment_post_ID" value="213" id="comment_post_ID"> <input type="hidden" name="comment_parent" id="comment_parent" value="0">
                                        </div>
                                    </form>
                                </div>

                            </div>

                        </div>
                    </div>
                    <!-- COMMENTS END -->

                </div>
                <!-- POST TEXT END -->

            </div>
            <!-- MAIN BLOG CONTENT END -->
            <!-- SIDEBAR -->
            <div class="col-md-3 col-sm-3 sidebar">

                <!-- SEARCH -->
                <div class="widget widget-search">
                    <form class="search" method="get">
                        <fieldset>
                            <div class="input-group">
                                <input name="s" id="s" type="text" value="" placeholder="Search ...">
                                <span class="input-group-addon"><i class="icon-search"></i></span>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <!-- SEARCH END -->
                <!-- POSTS -->
                <div class="widget widget-posts">


                    <ul class="nav nav-tabs" id="widget-post-tab">
                        <li class="active"><a href="#recent" data-toggle="tab"><span class="hidden-sm">Recent</span><i class="icon-book visible-sm"></i></a></li>
                        <li><a href="#popular" data-toggle="tab"><span class="hidden-sm">Popular</span><i class="icon-star visible-sm"></i></a></li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="recent">
                            <div class="widget widget-categories">

                                <ul>
                                    <li><a href="#">Webdesign (12)</a></li>
                                    <li><a href="#">Branding (4)</a></li>
                                    <li><a href="#">Video (5)</a></li>
                                    <li><a href="#">Text (1)</a></li>
                                    <li><a href="#">Quote (5)</a></li>
                                    <li><a href="#">Gallery (10)</a></li>
                                    <li><a href="#">Link (2)</a></li>
                                    <li><a href="#">Gravida (20)</a></li>
                                </ul>

                            </div>
                        </div>
                        <div class="tab-pane" id="popular">
                            <div class="widget widget-categories">

                                <ul>
                                    <li><a href="#">Webdesign (12)</a></li>
                                    <li><a href="#">Branding (4)</a></li>
                                    <li><a href="#">Video (5)</a></li>
                                    <li><a href="#">Text (1)</a></li>
                                    <li><a href="#">Quote (5)</a></li>
                                    <li><a href="#">Gallery (10)</a></li>
                                    <li><a href="#">Link (2)</a></li>
                                    <li><a href="#">Gravida (20)</a></li>
                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
                <!-- POSTS END -->


            </div>
            <!-- SIDEBAR END -->

        </div>

    </div> <!-- CONTAINER END -->
</div> <!-- CONTENT END -->